<mat-toolbar class="mat-elevation-z6 navbar">
    <span class="material-icons logo-icon"
          routerLink="/">pets</span>
    <a class="nav-title"
       routerLink="/">{{title}}</a>
    <span class="fill-remaining-space"></span>

    <a class="button-class"
       mat-button
       routerLinkActive="menu-item-active"
       [routerLinkActiveOptions]="{ exact: true }"
       routerLink="/search">
        <mat-icon>search</mat-icon> <span class="nav-description"> {{"Navbar.Search" | translate}}</span>
    </a>

    <a *ngIf="(authStatus$ | async)"
       class="button-class"
       mat-button
       routerLinkActive="menu-item-active"
       [routerLinkActiveOptions]="{ exact: true }"
       routerLink="/my-pets">
        <mat-icon>pets</mat-icon><span class="nav-description"> {{"Navbar.MyPets" | translate}}</span>
    </a>

    <a *ngIf="(authStatus$ | async)"
       class="button-class"
       mat-button
       routerLinkActive="menu-item-active"
       [routerLinkActiveOptions]="{ exact: true }"
       routerLink="/my-advertisements">
        <mat-icon>list_alt</mat-icon><span class="nav-description"> {{"Navbar.MyAdvertisements" | translate}}</span>
    </a>

    <a *ngIf="(authStatus$ | async)"
       class="button-class"
       mat-button
       routerLinkActive="menu-item-active"
       [routerLinkActiveOptions]="{ exact: true }"
       routerLink="/settings">
        <mat-icon>account_circle</mat-icon><span class="nav-description"> {{"Navbar.AccountSettings" |
            translate}}</span>
    </a>

    <nav *ngIf="(authStatus$ | async) === false">
        <a class="button-class"
           mat-button
           routerLinkActive="menu-item-active"
           routerLink="/login">
            <mat-icon>security</mat-icon><span class="nav-description"> {{"Navbar.Login" | translate}}</span>
        </a>
        <a class="button-class"
           mat-button
           routerLinkActive="menu-item-active"
           routerLink="/register">
            <mat-icon>call_made</mat-icon><span class="nav-description"> {{"Navbar.Register" | translate}}</span>
        </a>
    </nav>

    <nav *ngIf="authStatus$ | async">
        <a mat-button
           routerLinkActive="menu-item-active"
           (click)="signout()">
            <mat-icon>exit_to_app</mat-icon><span class="nav-description"> {{"Navbar.Signout" | translate}}
                {{getUserName()}}</span>
        </a>
    </nav>
</mat-toolbar>
