@import 'variables';

petify-image-preview {
    margin-left: 10px;
}

mat-checkbox {
    margin-top: 60px;
    padding-left: 50px;
}

mat-radio-button {
    height: 40px;
}

.radio-text {
    height: 60px;
}

.checkbox-item {
    color: $tealGreen-900;
}

h1.check-animals {
    color: $tealGreen-900;
}

.save-button {
    margin-left: 20px;
}
