<mat-card>
    <form [formGroup]="advertisementFormGroup">
        <div class="row d-flex justify-content-start">
            <h1 class="check-animals ml-5">{{"AdvertisementForm.CheckAnimals" | translate}}</h1>
            <div class="checkbox-item col-10 row mt-5"
                 *ngFor="let pet of pets$ | async">
                <mat-checkbox class="col-2"
                              [ngModelOptions]="{standalone: true}"
                              [(ngModel)]="pet.isChecked">
                </mat-checkbox>
                <petify-image-preview [imageUrl]="pet.imageFileStorageId | petImageUrl"
                                      [height]="150"
                                      [width]="150 * 4 / 5"
                                      heightUnit="px"
                                      class="col-4"
                                      widthUnit="px"></petify-image-preview>
                <div class="col-4">
                    <h1 class="col-12 d-flex justify-content-start mt-0">{{pet.name}}</h1>
                    <div class="col-12">
                        {{pet.description}}
                    </div>
                </div>
            </div>
            <h1 class="check-animals ml-5 my-5">{{"AdvertisementForm.AdvertisementTypeQuestion" | translate}}</h1>
            <mat-radio-group formControlName="advertisementTypeId"
                             class="col-12 row">
                <div class="col-12 row px-5">
                    <mat-radio-button class="col-1"
                                      [value]="AdvertisementTypes.CyclicalAssistance">
                    </mat-radio-button>
                    <span class="radio-text col-11">
                        {{"AdvertisementForm.AdvertisementTypeDescription.CyclicalAssistance" | translate}}
                    </span>
                </div>
                <div class="col-12 row px-5">
                    <mat-radio-button class="col-1"
                                      [value]="AdvertisementTypes.OneTimeHelp">
                    </mat-radio-button>
                    <span class="radio-text col-11">
                        {{"AdvertisementForm.AdvertisementTypeDescription.OneTimeHelp" | translate}}
                    </span>
                </div>
                <div class="col-12 row px-5">
                    <mat-radio-button class="col-1"
                                      [value]="AdvertisementTypes.TemporaryAdoption">
                    </mat-radio-button>
                    <span class="radio-text col-11">
                        {{"AdvertisementForm.AdvertisementTypeDescription.TemporaryAdoption" | translate}}
                    </span>
                </div>
                <div class="col-12 row px-5">
                    <mat-radio-button class="col-1"
                                      [value]="AdvertisementTypes.Adoption">
                    </mat-radio-button>
                    <span class="col-11 radio-text">
                        {{"AdvertisementForm.AdvertisementTypeDescription.Adoption" | translate}}
                    </span>
                </div>
            </mat-radio-group>
            <h1 class="check-animals ml-5 my-5">{{"AdvertisementForm.AdvertisementData" | translate}}</h1>
            <div class="col-12 row pl-5">
                <mat-form-field class="col-12">
                    <mat-label>{{'PetForm.Title' | translate}}</mat-label>
                    <input matInput
                           formControlName="title"
                           required>
                    <mat-error>
                        <petify-validation-feedback controlName="title">
                        </petify-validation-feedback>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col-12">
                    <mat-label>{{'PetForm.Description' | translate}}</mat-label>
                    <textarea matInput
                              formControlName="description"
                              required></textarea>
                    <mat-error>
                        <petify-validation-feedback controlName="description"></petify-validation-feedback>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-12 row pl-5">
                <mat-form-field *ngIf="(advertisementTypeId$ | async) === AdvertisementTypes.CyclicalAssistance"
                                class="col-6 mr-5">
                    <mat-label>Częstotliwość(w dniach)</mat-label>
                    <input matInput
                           type="number"
                           min="1"
                           formControlName="cyclicalAssistanceFrequency">
                </mat-form-field>
                <mat-form-field class="col-6">
                    <mat-label>Data początkowa</mat-label>
                    <input matInput
                           formControlName="startDate"
                           [matDatepicker]="picker1">
                    <mat-datepicker-toggle matSuffix
                                           [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="col-6"
                                *ngIf="(advertisementTypeId$ | async) === AdvertisementTypes.CyclicalAssistance || (advertisementTypeId$ | async) === AdvertisementTypes.TemporaryAdoption">
                    <mat-label>Data końca</mat-label>
                    <input matInput
                           [matDatepickerFilter]="datesFilter"
                           formControlName="endDate"
                           [matDatepicker]="picker1">
                    <mat-datepicker-toggle matSuffix
                                           [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="buttons-container col-12 d-flex justify-content-end">
                <button mat-raised-button
                        (click)="onBack()"
                        color="basic">
                    {{'Common.Cancel' | translate}}
                </button>
                <button mat-raised-button
                        class="save-button"
                        (click)="onSave()"
                        [disabled]="isSending$ | async"
                        color="primary">
                    {{'Common.Save' | translate}}
                </button>
            </div>
        </div>
    </form>
</mat-card>
