<ng-container *ngIf="advertisement$ | async as ad; else loader">
    <mat-card class="col-10">
        <mat-card-title>
            <h2>{{ad.title}}</h2>
        </mat-card-title>
        <mat-card-content>
            <div class="row justify-content-center">
                <div class="col-xl-8 xol-sm-12">
                    <h3> {{"AdvertisementPage.Description" | translate}}: </h3>
                    <p class="px-2">
                        {{ad.description}}
                    </p>
                </div>
                <div class="col-xl-4 col-sm-12 px-2">
                    <h3> {{"AdvertisementPage.OwnerData" | translate}}: </h3>
                    <p class="px-2">
                        {{ad.ownerName}}
                    </p>
                    <p class="px-2">
                        <a mat-raised-button
                           color="primary"
                           href="tel:{{ad.ownerPhoneNumber}}">
                            <mat-icon class="mr-2">call</mat-icon>{{ad.ownerPhoneNumber}}
                        </a>
                    </p>
                </div>
                <h3 class="col-12">{{"AdvertisementPage.Pets" | translate}}:</h3>
                <petify-pet-item class="col-10 mx-2 mb-4"
                                 *ngFor="let pet of ad.pets"
                                 [pet]="pet"
                                 [forSearch]="true"></petify-pet-item>
            </div>
        </mat-card-content>
    </mat-card>
</ng-container>
<ng-template #loader>
    <div class="spinner-container">
        <petify-spinner></petify-spinner>
    </div>
</ng-template>
