<mat-card [formGroup]="filtersFormGroup">
    <mat-form-field class="col-6">
        <mat-label>{{'AdvertisementsSearch.PossibleStartDate' | translate}}</mat-label>
        <input matInput
               formControlName="startDate"
               [matDatepicker]="picker1">
        <mat-datepicker-toggle matSuffix
                               [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <ng-select [multiple]="true"
               [placeholder]="'AdvertisementsSearch.Species' | translate"
               formControlName="species"
               class="col-6"
               bindLabel="name">
        <ng-option *ngFor="let s of species$ | async"
                   [value]="s.id">
            {{"Lookup.SpeciesType." + s.name | translate}}
        </ng-option>
    </ng-select>
    <section>
        <mat-checkbox [(ngModel)]="cyclicalAssistance"
                      (change)="checkboxesChanged()"
                      [ngModelOptions]="{standalone:true}">
            {{"AdvertisementsSearch.AdvertisementTypeDescription.CyclicalAssistance" | translate}}
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="oneTimeHelp"
                      (change)="checkboxesChanged()"
                      [ngModelOptions]="{standalone:true}">
            {{"AdvertisementsSearch.AdvertisementTypeDescription.OneTimeHelp" | translate}}
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="temporaryAdoption"
                      (change)="checkboxesChanged()"
                      [ngModelOptions]="{standalone:true}">
            {{"AdvertisementsSearch.AdvertisementTypeDescription.TemporaryAdoption" | translate}}
        </mat-checkbox>
    </section>
</mat-card>
