<div class="form-group mb-3">
    <label for="file-{{id}}"
           class="mat-raised-button mat-button-base mat-grey"
           color="accent">
        <div class="btn-content">
            <mat-icon>add_a_photo</mat-icon>
            {{ btnDisplayText === undefined ? ["Common.UploadFile" | translate] : btnDisplayText }}
        </div>
    </label>
    <input type="file"
           mat-raised-button
           id="file-{{id}}"
           accept=".jpg,.jpeg,.png"
           class="hidden"
           ref="upload"
           (click)="onClick($event)"
           (change)="handleFileInput($event)">
</div>
