<mat-card class="my-0"
          [ngClass]="forSearch?'inverted-colors':''">
    <div class="pet-container row">
        <div *ngIf="pet.imageFileStorageId as image"
             class="pet-container__image col-xl-3 col-sm-12">
            <petify-image-preview [imageUrl]="image | petImageUrl"
                                  [height]="200"
                                  [width]="200 * 4 / 5"
                                  heightUnit="px"
                                  widthUnit="px"></petify-image-preview>
        </div>
        <div class="col-xl-6 col-sm-12">
            <h1 class="col-12 d-flex justify-content-start mt-0">{{pet.name}}</h1>
            <div class="pet-container__description col-12">
                {{pet.description}}
            </div>
            <div class=" col-12 mt-3 pet-container__dateOfBirth">{{"MyPets.Age" | translate}}: {{ pet.age}}
            </div>
            <div class="col-12 mt-1 pet-container__species">{{"MyPets.Species" | translate}}:
                {{"Lookup.SpeciesType."+ pet.speciesName | translate}}
            </div>
        </div>
        <div *ngIf="!forSearch"
             class="col-xl-3 col-sm-12 d-flex justify-content-end">
            <button mat-mini-fab
                    class="mr-2"
                    color="primary"
                    [routerLink]="[pet.id, 'edit']">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab
                    color="warn"
                    (click)="onDeletePet()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</mat-card>
