<mat-card>
    <form [formGroup]="petFormGroup">
        <div class="row">
            <mat-form-field class="col-12">
                <mat-label>{{'PetForm.Name' | translate}}</mat-label>
                <input matInput
                       formControlName="name"
                       required>
                <mat-error>
                    <petify-validation-feedback controlName="name">
                    </petify-validation-feedback>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="col-12">
                <mat-label>{{'PetForm.Description' | translate}}</mat-label>
                <textarea matInput
                          formControlName="description"
                          required></textarea>
                <mat-error>
                    <petify-validation-feedback controlName="description"></petify-validation-feedback>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="col-6">
                <mat-label>{{'PetForm.Species' | translate}}</mat-label>
                <mat-select mat-Input
                            type="select"
                            formControlName="speciesId"
                            required>
                    <mat-option *ngFor="let item of speciesLookup$ | async"
                                [value]="item.id">{{"Lookup.SpeciesType." + item.name | translate}}</mat-option>
                </mat-select>
                <mat-error>
                    <petify-validation-feedback controlName="speciesId"></petify-validation-feedback>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="col-6">
                <mat-label>{{'PetForm.DateOfBirth' | translate}}</mat-label>
                <mat-label>{{'PetForm.DateOfBirth' | translate}}</mat-label>
                <input matInput
                       [matDatepicker]="picker"
                       formControlName="dateOfBirth">
                <mat-datepicker-toggle matSuffix
                                       [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>

            </mat-form-field>

            <petify-image-upload formControlName="image"></petify-image-upload>
            <div class="buttons-container col-12 d-flex justify-content-end">
                <button mat-raised-button
                        (click)="onBack()"
                        color="basic">
                    {{'Common.Cancel' | translate}}
                </button>
                <button mat-raised-button
                        class="save-button"
                        (click)="onSave()"
                        color="primary"
                        [disabled]="isSaveButtonDisabled">
                    {{'Common.Save' | translate}}
                </button>
            </div>
        </div>
    </form>
</mat-card>
