@model Petify.IdentityServer.Models.ForgotPasswordViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


<div class="login-container">
    <div class="info-screen">
        <div class="info-screen-container card-container">
            <h1 class="header">@Localizer["Reset password"]</h1>
            <p class="sub-header">@Localizer["Enter your email"]</p>
            <form asp-action="ForgotPassword" autocomplete="off">
                <div class="form-group">
                    <input asp-for="Email" placeholder="@Localizer["Email"]" class="form-control" autofocus />
                </div>
                <div class="mt-4 mb-4">
                    <button class="btn btn-custom">@Localizer["Reset"]</button>
                </div>
                <partial name="_ValidationSummary" />
            </form>
        </div>
    </div>
</div>