@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="info-screen">
    <div class="info-screen-container card-container">
        <h1 class="header">@Localizer["Reset password"]</h1>
        @Localizer["Verification code has been sent."]
        @Localizer["Please check your email to reset your password."]
    </div>
</div>