@model Petify.IdentityServer.Models.LoggedOutViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}

<div class="page-header logged-out">
    <h1>
        @Localizer["Logout"]
    </h1>
    @Localizer["You are now logged out"]
</div>