@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="info-screen">
    <div class="info-screen-container card-container">
        <h1 class="header">@Localizer["Reset password"]</h1>

        @Localizer["Your password has been reset successfully."] <br />Please <a asp-action="Login">@Localizer["click here to log in"]</a>.
    </div>
</div>